@mixin button($padding-horzintal, $padding-vertical) {
    padding: $padding-horzintal $padding-vertical;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    color: $whiteColor;
    background-color: $blackColor;
}