<section class="born-year">
    <div class="container">
        <div class="thumb">
            <div class="box">
                <h2 class="born-year-title">Перевір в який рік ти народився</h2>
                <form class="form" id="yearForm">
                    <input class="form-input" type="number" id="birthYear" name="birthYear"
                        placeholder="Введіть рік народження" required>
                    <button type="submit">

                        <svg viewBox="0 0 16.0041 16.0041" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="16.004089" height="16.004089" fill="none"
                            customFrame="#000000">
                            <g id="Group 104">
                                <circle id="Ellipse 31" cx="6.52173948" cy="6.52173948" r="5.52173948"
                                    stroke="rgb(255,255,255)" stroke-width="2" />
                                <path id="Vector 214"
                                    d="M14.2929 15.7071L10.0538 11.468L11.468 10.0538L15.7071 14.2929L14.2929 15.7071ZM15.6788 14.2929L15.7071 14.2929C16.1031 14.6889 16.1031 15.3111 15.7071 15.7071C15.3111 16.1031 14.6889 16.1031 14.2929 15.7071L14.2929 15.6788L15.6788 14.2929ZM10.0679 11.4821L9.34665 10.7609L10.7609 9.34665L11.4821 10.0679L10.0679 11.4821Z"
                                    fill="rgb(255,255,255)" fill-rule="nonzero" />
                            </g>
                        </svg>
                    </button>
                </form>
            </div>
            <p id="result">Тут буде ваш резулютат</p>
        </div>
    </div>
</section>