<section class="born-year">
    <div class="container">
    <h2 class="born-year-title">Перевір в який рік ти народився</h2>
    <form class="form" id="yearForm">
        <input class="form-input" type="number" id="birthYear" name="birthYear" placeholder="Введіть рік народження" required>
        <button type="submit">
            <svg class="search-icon" height="15" width="15">
                <use href="#"></use>
            </svg>
        </button>
    </form>
    <p id="result">Тут буде ваш резулютат</p>
    </div>
</section>