<section class="calculator-section">
    <div class="container">
        <h2>Калькулятор</h2>
        <input id="num1" type="number" placeholder="Введіть число 1">
                <div class="operation-buttons-calculator">
                    <button class="opp-btn" data-op="+">+</button>
                    <button class="opp-btn" data-op="-">-</button>
                    <button class="opp-btn" data-op="*">*</button>
                    <button class="opp-btn" data-op="/">/</button>
                </div>
        <input id="num2" type="number" placeholder="Введіть число 2">
        <button id="btn" type="submit">=</button>
        <span id="result">Результат</span>
    </div>
</section>

