<section class="calculator-section">
  <div class="container calculator-container">
    <h2 class="section-title">Калькулятор</h2>
    <input id="num1" type="number" placeholder="Введіть число 1" class="number-1" />
    <div class="operation-buttons-calculator">
      <button type="button" class="operation" data-op="+">+</button>
      <button type="button" class="operation" data-op="-">-</button>
      <button type="button" class="operation" data-op="*">*</button>
      <button type="button" class="operation" data-op="/">/</button>
    </div>
    <input id="num2" type="number" placeholder="Введіть число 2" class="number-2" />
    <button id="btn-calculate" type="button" class="btn-calculate">=</button>
    <input
      id="calculator-result"
      type="text"
      placeholder="Результат"
      readonly
      class="calculator-result"
    />
    <p class="calculator-message"></p>
  </div>
</section>
