<section class="calculator-section">
    <div class="container">
        <h2>Калькулятор</h2>
        <ul class="work-list">
            <li class="list-item">
                <div class="inputs-calculator">
                    <input id="num1" type="text" placeholder="Введіть число 1">
                    <input id="num2" type="text" placeholder="Введіть число 2">
                </div>
            </li>
            <li class="list-item">
                <div class="operation-buttons-calculator">
                    <button>+</button>
                    <button>-</button>
                    <button>*</button>
                    <button>/</button>
                </div>
            </li>
            <li class="list-item">
                <div class="equals-button-calculator">
                    <button>=</button>
                </div>
            </li>
            <li class="list-item">
                <div class="input-result-calculator">
                    <input id="result" type="text" placeholder="Результат">
                </div>
            </li>
        </ul>
    </div>
</section>