<section class="footer-section">
        <div class="container">
            <img src="" alt="">
            <ul class="footer-list">
                <li class="footer-item"><a href="">Тел: +38 (123) 456 78 90</a></li>
                <li class="footer-item"><a href="">E-Mail: codingmagic@gmail.com</a></li>
                <li class="footer-item"><a href="">Facebook: CodingMagic</a></li>
                <li class="footer-item"><a href="">Twitter: CodingMagic</a></li>
                <li class="footer-item"><a href="">Instagram: CodingMagic</a></li>
            </ul>
            <div class="subscribe-footer">
                <input class="mail-input-footer" type="text" placeholder="Ваша ел. адреса...">
                <button class="subscribe-button-footer" type="submit">Підписатись</button>
                <p class="p-footer">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
            </div>
            
        </div>
    </section>