<section class=".fotball-section">
    <div class="container">
        <h2 class="football-title">футбол</h2>
        <h3 class="football-goal">забиті м'ячі</h3>
        <p class="football-score">0</p>
        <button class="clear-goal">Очистити рахунок</button>
        <div class="football-field">
            <img src="./images/ball.png" alt="мяч" class="football-ball">
            <img width="100px" height="100px" src="./images/football-goal.png" alt="ворота" class="football-goal-img">
        </div>
    </div>
</section>