<section class="footer-section footer-container">
        <div class="container">
           <img src="./images/footer-logo.svg" alt="Logo footer" width="165px" class="footer-logo">
            <ul class="footer-list">
                <li ><a href="#" class="footer-link">Тел: +38 (123) 456 78 90</a></li>
                <li ><a href="#" class="footer-link">E-Mail: codingmagic@gmail.com</a></li>
                <li ><a href="#" class="footer-link">Facebook: CodingMagic</a></li>
                <li ><a href="#" class="footer-link">Twitter: CodingMagic</a></li>
                <li ><a href="#" class="footer-link">Instagram: CodingMagic</a></li>
            </ul>
            <div class="subscribe-footer">
                <input class="mail-input-footer" type="text" placeholder="Ваша ел. адреса..." name="mail-input-footer">
                <button class="subscribe-button-footer" type="submit">Підписатись</button>
                <p class="subscribe-text-footer">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
            </div>
            
        </div>
    </section>