<section class="guess-number">
    <div class="container">
        <h2 class="guess-number-title">Вгадай число</h2>
        <div class="guess-flex-row">
            <div class="search-box">
                <input id="guess-input" type="number" placeholder="Введіть число" min="0" max="10"
                    class="guess-number-input">
                <button class="guess-number-button" aria-label="Перевірити число" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <use href="./images/symbol-defs.svg#icon-search"></use>
                    </svg>
                </button>
            </div>
            <p class="guess-number-result"></p>
        </div>
    </div>
</section>