<header class="header">
  <div class="container">
    <div class="header-logo">
      <img src="#" alt="Coding magic logo">
      <span class="codig-magic-span">Coding Magic</span>
    </div>
    <nav class="nav">
      <ul class="header-list">
        <li class="header-item">
          <a href="#" class="header-link">Інтерактив</a>
          <ul class="nav-list">
            <li class="nav-item"><a href="#" class="nav-link">Числовий</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Ігровий</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Ознайомчий</a></li>
          </ul>
        </li>
        <li class="header-item"><a href="#" class="header-link">Наша команда</a></li>
        <li class="header-item"><a href="#" class="header-link">Контакти</a></li>
      </ul>
    </nav>
    <div class="right-section">
      <input type="checkbox" id="theme-toggle">
      <label for="theme-toggle"></label>
      <span class="user-span">Вітаємо, User!</span>
    </div>
  </div>
</header>