<section class="max-number-section">
        <div class="container">
            <h2 class="section-title ">Введіть 3 числа</h2>
            <div class="input-box">
            <input id="max-number-num1" type="value" name="num1">
            <input id="max-number-num2" type="value" name="num2">
            <input id="max-number-num3" type="value" name="num3">
            </div>
            <p class="max-number-text">Найбільше число яке ви ввели - <span id="number-result" class="number-result"></span></p>
        </div>
</section>