<section class="rock-paper-scissors container">
  <h3 class="section-title">Камінь - ножиці - папір</h3>
  <form action="">
    <div class="rps-choises">
      <button type="button" class="rps-choice"></button>
      <button type="button" class="rps-choice"></button>
      <button type="button" class="rps-choice"></button>
    </div>
    <p>
      <span id="rps-result">Оберіть варіант вище</span
      ><span id="rps-quick-answer"></span>
    </p>
    <button type="submit" class="rps-comp-choice">Варіант комп’ютера</button>
  </form>
  <ul class="rps-counter">
    <li class="rps-item">Рахунок:</li>
    <li class="rps-item">Комп’ютер - <span id="rps-comp-count">0</span></li>
    <li class="rps-item"><span id="rps-user-name">Ви</span> - <span id="rps-user-count">0</span></li>
  </ul>
</section>