<section class="rock-paper-scissors">
  <div class="container">
    <h2 class="section-title">Камінь - ножиці - папір</h2>
    <div class="rps-game">
      <div class="rps-choices">
        <button type="button" class="rps-choice rock"></button>
        <button type="button" class="rps-choice scissors"></button>
        <button type="button" class="rps-choice paper"></button>
      </div>
      <p>
        <span id="rps-result">Оберіть варіант вище</span
        ><span id="rps-quick-answer"></span>
      </p>
      <button type="button" class="rps-comp-choice">Варіант комп’ютера</button>
      <div class="rps-counter">
        <p class="rps-item">Рахунок:</p>
        <p class="rps-item">Комп’ютер - <span id="rps-comp-count">0</span></p>
        <p class="rps-item">
          <span id="rps-user-name">Ви</span> -
          <span id="rps-user-count">0</span>
        </p>
        <button type="button">Скинути рахунок</button>
      </div>
    </div>
  </div>
</section>
