<section class="team">
    <div class="container">

        <h2 class="team-title">Наша команда</h2>

        <svg>
            <use class="left" xlink:href="#"></use>
        </svg>
        <ul class="list-img">
            <li class="team-img">
                <img class="team-img" src="#" alt="">
                <h2 class="team-name">ім'я студента</h2>
                <p class="team-work-info">інформацію про виконану роботу
                </p>
            </li>
            <li class="team-img">
                <img class="team-img" src="#" alt="">
                <h2 class="team-name">ім'я студента</h2>
                <p class="team-work-info">інформацію про виконану роботу
                </p>
            </li>
            <li class="team-img">
                <img class="team-img" src="#" alt="">
                <h2 class="team-name">ім'я студента</h2>
                <p class="team-work-info">інформацію про виконану роботу
                </p>
            </li>
            <li class="team-img">
                <img class="team-img" src="#" alt="">
                <h2 class="team-name">ім'я студента</h2>
                <p class="team-work-info">інформацію про виконану роботу
                </p>
            </li>
        </ul>
        <svg>
            <use class="right" xlink:href="#"></use>
        </svg>
      <ul class="slide">
        <li class="slide-item"><div class="slide-div"></div></li>
        <li class="slide-item"><div class="slide-div"></div></li>
        <li class="slide-item"><div class="slide-div"></div></li>
        <li class="slide-item"><div class="slide-div"></div></li>
      </ul>
</div>
</section>