<section class="team">
    <div class="container">
        <h2 class="team-title">Наша команда</h2>

        <div class="slider-box">

            <div class="arrow left"></div>

            <ul class="list-img">
                <li class="team-slide active">
                    <div class="team-photo"></div>
                    <h3 class="team-name">Андрій</h3>
                    <p class="team-work-info">Інформація про роботу</p>
                </li>
                <li class="team-slide">
                    <div class="team-photo"></div>
                    <h3 class="team-name">Даша</h3>
                    <p class="team-work-info">Інформація про роботу</p>
                </li>
                <li class="team-slide">
                    <div class="team-photo"></div>
                    <h3 class="team-name">Лев</h3>
                    <p class="team-work-info">Інформація про роботу</p>
                </li>
                <li class="team-slide">
                    <div class="team-photo"></div>
                    <h3 class="team-name">Павло</h3>
                    <p class="team-work-info">Інформація про роботу</p>
                </li>
            </ul>


            <div class="arrow right"></div>
        </div>


        <ul class="slide">
            <li class="slide-item">
                <div class="slide-div active"></div>
            </li>
            <li class="slide-item">
                <div class="slide-div"></div>
            </li>
            <li class="slide-item">
                <div class="slide-div"></div>
            </li>
            <li class="slide-item">
                <div class="slide-div"></div>
            </li>
        </ul>
    </div>

</section>