.footer-section .container {
max-width: 1200px;
margin: 0 auto;
height: 220px;
display: flex;
justify-content: center;
align-items: center;
justify-content: space-around;
}
.footer-item{
font-family: "Montserrat Alternates", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 170%;
color: #000;
}

.mail-input-footer{
border-radius: 20px;
width: 204px;
height: 35px;
background: #d7d7d7;
font-family: "Montserrat Alternates", sans-serif;
font-weight: 400;
font-size: 12px;
color: #7e7e7e;
outline: none;
}
.subscribe-button-footer{
border-radius: 20px;
padding: 10px;
width: 107px;
height: 35px;
margin-left: 37px;
background: #000;
font-family:"Montserrat Alternates", sans-serif;
font-weight: 400;
font-size: 12px;
color: #fff;
}
.p-footer{
font-family: "Montserrat Alternates", sans-serif;
font-weight: 400;
font-size: 6px;
color: #000;
}