@use '../utils/variables' as *;


.max-number-text {
display: flex;
justify-content: center;
align-items: center;
font-weight: 400;
font-size: 12px;
}

#max-number-num1, #max-number-num2, #max-number-num3{
border-radius: 20px;
padding: 0px 10px;
margin-right: 10px;
width: 135px;
height: 35px;
box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
background: #d7d7d7;
font-family:  "Montserrat Alternates", sans-serif;
font-weight: 400;
font-size: 12px;
color: $grayBtnTextColor;
}

.number-result{
    margin-left: 10px;
    font-size: 20px;
    color: $redTextColor;

}


.max-number-box{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 25px;
}