.rps-box {
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.rps-game{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.rps-counter {
    display: flex;
    flex-direction: column;
    top: 30%;
    right: 17%;
}


.rps-choices{
    display: flex;
    gap: 20px;
}
.rps-choice {
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    background-color: #000;

    
}
.rps-chosen {
    background-color: #424242;
    fill: #424242;
    }


#rps-comp-choice {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
}

#rps-reset {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    background-color: #000;
}